* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}
body {
  background-color: #efefef;
}
html {
  font-size: 10px;
}
nav {
  background-color: #1876f2;
  display: flex;
  justify-content: space-between;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  width: 16rem;
  margin-right: 45px;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img {
  width: 2.8rem;
  margin: 0 15px;
}
.nav-user-icon img {
  width: 4rem;
  border-radius: 50%;
}
.nav-user-icon {
  margin-left: 3rem;
}
.search-box {
  width: 35rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #efefef;
}
.search-box img {
  width: 1.8rem;
}
.search-box input {
  width: 100%;
  border: 0;
  outline: none;
  padding: 10px;
  background: transparent;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: #41db51;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #fff;
}

/* container  */

.container {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  padding: 13px 5%;
}

/* left sidebar */
.left-sidebar {
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}
.imp-links {
  border-bottom: 1px solid #ccc;
}
.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
  font-size: 1.6rem;
}
.imp-links a img {
  width: 2.5rem;
  margin-right: 15px;
}
.imp-links a:last-child {
  color: #1876f2;
}
.shortcut-links a img {
  width: 4rem;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcut-links p {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
  font-size: 1.6rem;
}
/* right sidebar */
.right-sidebar {
  background: #fff;
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  padding: 20px;
  color: #626262;
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.sidebar-title h4 {
  font-weight: 600;
  font-size: 1.6rem;
}
.sidebar-title a {
  font-size: 1.2rem;
  color: #1876f2;
  text-decoration: none;
}
.event {
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.left-event {
  border-radius: 10px;
  height: 6.5rem;
  width: 6.5rem;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p {
  font-size: 1.2rem;
}
.event a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1876f2;
}
.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1876f2;
  color: #fff;
  font-size: 1.4rem;
  padding: 4px 0;
}
.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
.online-list .online img {
  width: 4rem;
  border-radius: 50%;
}
.online-list .online {
  width: 4rem;
  border-radius: 50%;
  margin-right: 15px;
}
.online-list .online::after {
  top: unset;
  bottom: 5px;
}

/* main content */
.main-content {
  flex-basis: 47%;
}
.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.story img {
  position: absolute;
  width: 4.5rem;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid #1876f2;
}
.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
}
.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-1.png");
}
.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-2.png");
}
.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-3.png");
}
.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-4.png");
}
.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url("./images/status-5.png");
}
.story.story1 img {
  top: unset;
  bottom: 40px;
  left: 50%;
  width: 3.5rem;
  transform: translateX(-50%);
  border: 0;
}

.write-post-container {
  /* border: 2px solid red; */
  background: #fff;
  color: #626262;
  border-radius: 6px;
  padding: 20px;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 10px;
}
.user-profile p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #626262;
}
.user-profile small {
  font-size: 1.2rem;
  margin-top: 10px;
}
.post-input-container {
  /* border: 2px solid red; */
  padding-left: 55px;
  padding-top: 20px;
}
.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  font-size: 1.4rem;
  resize: none;
  /* border: 2px solid red; */
}
.add-post-links {
  display: flex;
  margin-top: 10px;
}

.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 1.3rem;
  color: #626262;
}
.add-post-links a img {
  width: 2rem;
  margin-right: 10px;
}

.post-container {
  border: 2px solid red;
  width: 100%;
  background: #fff;
  margin: 20px 0;
  border-radius: 6px;
  color: #626262;
  padding: 20px;
}

.user-profile span {
  font-size: 1.3rem;
  color: #9a9a9a;
}
.post-text {
  color: #9a9a9a;
  margin: 20px 0;
  font-size: 1.6rem;
}
.post-text span {
  color: #626262;
  font-weight: 600;
}
.post-text a {
  color: #1876f2;
  text-decoration: none;
}
.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
}
.post-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity-icons div img {
  width: 1.8rem;
  margin-right: 10px;
}
.activity-icons div {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  margin-right: 30px;
}

.post-profile-icon {
  display: flex;
  align-items: center;
}
.post-profile-icon img {
  width: 2rem;
  border-radius: 50%;
  margin-right: 5px;
}
.post-row a {
  color: #626262;
  font-size: 1.2rem;
}
.load-more-btn {
  display: block;
  margin: auto;
  padding: 5px 10px;
  cursor: pointer;
  border: 0;
  border: 1px solid #9a9a9a;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}
.footer{
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 1.3rem;
}